.header {
    font-size: 32px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141B41;
    color: white;
}

table {
    width: 80%;
    margin: 40px auto 60px auto;
    border-collapse: separate;
    border-spacing: 0;
}


thead > tr {
    background-color: white;
    font-size: 20px;
    
}

thead > th {
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

tbody > tr > td {
    border-bottom: 1px solid white;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    color: white;
}

tbody > tr > td:first-child {
    border-image: linear-gradient(to right, transparent, white);
    border-image-slice: 1;
}

tbody > tr > td:last-child {
    border-image: linear-gradient(to right, white, transparent);
    border-image-slice: 1;
}

.CryptoLogo {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    margin: 0 auto;
}

.CryptoLogo > h4 {
    color: white;
}

.CryptoSymbol {
    width: 30px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: white;
}